<div id='markerForm'>
<h1>Trainee Form</h1>
<form>
	<div class='gymFormInputs'>
		<label for="date">Date :</label>
		<uib-datepicker ng-model="form.date" min-date="today"></uib-datepicker>		
	</div>
	<div class='gymFormInputs'>
		<label for="timeIn">Time In :</label>
		<select id="timeIn" ng-model="form.timeIn.hour">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select>
		<select ng-model="form.timeIn.minutes">
			<option value="00">:00</option>
			<option value="15">:15</option>
			<option value="30">:30</option>
			<option value="45">:45</option>
		</select>
		<select ng-model="form.timeIn.AmPm">
			<option value="AM">AM</option>
			<option value="PM">PM</option>
		</select>
	</div>
	<div class='gymFormInputs'>
		<label for="timeOut">Time Out :</label>
		<select class="timeOut" id="timeOut" ng-model="form.timeOut.hour">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select>
		<select class="timeOut" ng-model="form.timeOut.minutes">
			<option value="00">:00</option>
			<option value="15">:15</option>
			<option value="30">:30</option>
			<option value="45">:45</option>
		</select>
		<select class="timeOut" ng-model="form.timeOut.AmPm">
			<option value="AM">AM</option>
			<option value="PM">PM</option>
		</select>
	</div>
	<div class='gymFormInputs'>
		<label for="experience">Experience :</label>
		<select name="experience" id="experienceSelect" ng-model='form.experience'>
			<option value="beginner">Beginner</option>
			<option value="intermediate">Intermediate</option>
			<option value="advanced">Advanced</option>
		</select>
	</div>
	<div class='gymFormInputs'>
		<label for="donation">Donation :</label>
		<input type="number" ng-model="form.donation" id='donation' step='any' min='0' placeholder='$'>
	</div>
	<div class='gymFormInputs'>
		<label id="commentLabel" for="comment">Comment :</label>
		<textarea name="comment" id="comment" cols="20" rows="5" ng-model="form.comment"></textarea>
	</div>
	<button ng-click="submit()">Submit</button>
</form>
</div>