<h1>Gym Search Trainer Page</h1>
<!-- {[{map.markers}]} -->
<div id="map"></div>
<!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'>
	
</ui-gmap-google-map> -->

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	<ui-gmap-marker  ng-repeat="m in map.markers" click='markerClick(m, $index)' options="{title: m.name}" 
	coords="{latitude: m.geometry.location.A,longitude: m.geometry.location.F}" idKey="m.reference">
		<ui-gmap-window show="m.showWindow" templateUrl="templateURL"  isIconVisibleOnClick="true" 
		options="{title: m.name}" coords="{latitude: m.geometry.location.A, longitude: m.geometry.location.F}" idKey="m.reference">
		</ui-gmap-window>
	</ui-gmap-marker>
</ui-gmap-google-map>